.container__about-me {
    width: 100%;
    position: relative;
}

.wrapper__profile-me {
    width: 100%;
    height: 100vh;
    position: relative;
    border: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, black 100%), url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg'); background-size: cover; background-attachment: fixed;
}

.profile-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}

.profile-pic img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.title-name {
    font-size: 64px;
    font-weight: 600;
    color: azure;
    position: sticky;
    top: 0;
    z-index: 10;
}

.wrapper__profile-location {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    /* top: 100vh; */
    background-color: black;
    border: none;
    transition: transform 0.3s ease;
}

.df__profile-location {
    display: flex;
    height: 700px;
    margin: auto;
}

.df__profile-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.location-pic {
    width: 998px;
    height: 560px;
    overflow: hidden;
    /* margin: auto 0; */
    margin-top: 34px;
}

.location-pic img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 22px;
}

.me__button {
    margin: 60px 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    scale: 1;
    background-color: #89f336;
    /* background-color: #305cde; */
}

.me__button:active {
    scale: .8;
}

.fontawesome-icon {
    font-size: 40px;
}

.modal__box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #89f336;
    border-radius: 20px;
    /* position: relative; */
}

.modal__df {
    display: flex;
    position: relative;
}

.modal__img {
    max-width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}